
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}

.clearfix {
  zoom: 1;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}


button[disabled="disabled"] {
  cursor: not-allowed!important;
  opacity: 0.65;
}

button {
  display: inline-block;
  padding: 7px 21px;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  text-align: center;
  color: #FFF;
  background: #3fccb4;
  border: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
      color: #FFF;
      background: #1abc9c;
  }
}

// .space_button {
//   display: inline-block;
//   padding: 7px 21px;
//   font-size: 14px;
//   line-height: 1;
//   border-radius: 4px;
//   text-align: center;
//   color: #3fccb4;
//   border: 1px solid #3fccb4;
//   background: #fff;
//   cursor: pointer;
//   text-decoration: none;
//   &:hover {
//       color: #1abc9c;
//       border: 1px solid #1abc9c;
//       text-decoration: none;
//   }
// }